<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>views/index.jsp</welcome-file>
        <welcome-file>views/admin.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>DataFilter</filter-name>
        <filter-class>Filter.DataFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DataFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>Control.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>Control.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadImage</servlet-name>
        <servlet-class>Control.LoadImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Control.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Report</servlet-name>
        <servlet-class>Control.Report</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Control.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sortby</servlet-name>
        <servlet-class>Control.Sortby</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>Control.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>Control.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userpermission</servlet-name>
        <servlet-class>Control.userpermission</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportpermission</servlet-name>
        <servlet-class>Control.reportpermission</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>imagepermission</servlet-name>
        <servlet-class>Control.imagepermission</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>View</servlet-name>
        <servlet-class>Control.View</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Like</servlet-name>
        <servlet-class>Control.Like</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CloseView</servlet-name>
        <servlet-class>Control.CloseView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>Control.Search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadImage</servlet-name>
        <url-pattern>/LoadImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sortby</servlet-name>
        <url-pattern>/Sortby</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userpermission</servlet-name>
        <url-pattern>/Admin/userpermission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportpermission</servlet-name>
        <url-pattern>/Admin/reportpermission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>imagepermission</servlet-name>
        <url-pattern>/Admin/imgpermission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Report</servlet-name>
        <url-pattern>/Report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>View</servlet-name>
        <url-pattern>/View</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Like</servlet-name>
        <url-pattern>/Like</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CloseView</servlet-name>
        <url-pattern>/CloseView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
